<!--- Sample template. Move elsewhere once it's ready to go. -->

{% extends "site_base.html" %}
{% block body %}

<h1>Invoice {{ invoice.id }}</h1>

<ul>
  <li>Void: {{ invoice.void }}</li>
  <li>Paid: {{ invoice.paid }}</li>
</ul>

<table>
  <tr>
    <th>Description</th>
    <th>Quantity</th>
    <th>Price/Unit</th>
    <th>Total</th>
  </tr>
  {% for line_item in invoice.lineitem_set.all %}
    <tr>
      <td>{{line_item.description}}</td>
      <td>{{line_item.quantity}}</td>
      <td>{{line_item.price}}</td>
      <td><!-- multiply --> FIXME</td>
    </tr>
  {% endfor %}
  <tr>
    <th>TOTAL</th>
    <td></td>
    <td></td>
    <td>{{ invoice.value }}</td>
  </tr>
</table>

<table>
  <tr>
    <th>Payment time</th>
    <th>Reference</th>
    <th>Amount</th>
  </tr>
  {% for payment in invoice.payment_set.all %}
    <tr>
      <td>{{payment.time}}</td>
      <td>{{payment.reference}}</td>
      <td>{{payment.amount}}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
