{% extends "registrasion/base.html" %}
{% load registrasion_tags %}

{% block title %}Select {{ category.name }} products{% endblock %}
{% block heading %}Select {{ category.name }} products{% endblock %}

{% block content %}

  <form method="post" action="">

    {% csrf_token %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Enter voucher code</h3>
      </div>
      <div class="panel-body">
        {% include "registrasion/form.html" with form=voucher_form %}
        <!-- TODO: make this button less bootstrap-dependent -->
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Add voucher" />
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ category.name }}</h3>
      </div>

      <div class="panel-body">

        {% block products_intro_outer %}
          <div class="well">
            {% block products_intro %}
              {{ category.description }}
            {% endblock %}
          </div>
        {% endblock %}

        {% items_purchased category as items %}
        {% if items %}
          <div class="panel panel-info">
            {% block paid_items_intro_outer %}
              <div class="panel-heading">
                {% block paid_items_intro %}
                  You have already paid for the following items:
                {% endblock %}
              </div>
            {% endblock %}
            {% include "registrasion/snippets/items_list.html" with items=items ul_class="list-group" li_class="list-group-item" %}
          </div>
        {% endif %}

        {% if discounts %}
          <div class="panel panel-info">
            {% include "registrasion/snippets/discounts_list.html" with discounts=discounts %}
            {% block discounts_intro_outer %}
              <div class="panel-footer">
                {% block discounts_intro %}
                  The best available discounts will be automatically applied to any selections you make.
                {% endblock %}
              </div>
            {% endblock %}
          </div>
        {% endif %}

        {% include "registrasion/form.html" with form=form %}

      </div>

      <div class="panel-footer">
        <input class="btn btn-primary" type="submit" value="Add to cart" />
        <a href="{% url "dashboard" %}" class="btn btn-default">Return to dashboard</a>
      </div>
    </div>

  </form>

{% endblock %}
