{% extends "registrasion/base.html" %}
{% load registrasion_tags %}

{% block title %}Product Category: {{ category.name }}{% endblock %}
{% block heading %}Product Category: {{ category.name }}{% endblock %}

{% block content %}

  <form method="post" action="">

    {% csrf_token %}

    <div>
      {% include "registrasion/form.html" with form=voucher_form %}
      <!-- TODO: make this button less bootstrap-dependent -->
      <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="Add voucher" />
      </div>
    </div>

    {% items_purchased category as items %}
    {% if items %}
      <div>
        {% block paid_items_intro_outer %}
          {% block paid_items_intro %}
            <h3>Paid items</h3>
            <p>You have already paid for the following items:</p>
          {% endblock %}
        {% endblock %}
        {% include "registrasion/snippets/items_list.html" with items=items %}
      </div>
    {% endif %}

    {% if discounts %}
      <div>
        {% block discounts_intro_outer %}
          {% block discounts_intro %}
            <h3>Available Discounts</h3>
          {% endblock %}
        {% endblock %}
        {% include "registrasion/snippets/discounts_list.html" with discounts=discounts %}
      </div>
    {% endif %}

    <div>
      <div>
        {% block products_intro_outer %}
          {% block products_intro %}
            <h3>Available Products</h3>
            <p>{{ category.description }}</p>
          {% endblock %}
        {% endblock %}
      </div>

      <div>
        {% include "registrasion/form.html" with form=form %}

        <!-- TODO: make this button less bootstrap-dependent -->
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Add to cart" />
            <a href="{% url "dashboard" %}" class="btn btn-default">Return to dashboard</a>
        </div>
      </div>
    </div>

  </form>

{% endblock %}
